<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1474471981552-e3084590b868?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80);">
  <div class="container">
    <h1><center><strong>Rent a Car Now</strong></center></h1>
    <br/>
    <%= form_tag(search_page_path, :method => "get") do %>
    <div class="input-group md-form form-sm form-2 pl-0">
      <%= search_field_tag :search, params[:search], placeholder: "Category", class: "form-control my-0 py-1 red-border" %>
      <!--<input class="form-control my-0 py-1 red-border" type="text" placeholder="Category" aria-label="Search">-->
    <!--<div class="input-group-append">-->
      <div class="input-group-btn">
      <%= button_tag "", :class => 'btn fas fa-search text-grey',:name => nil%>
      <!--
      <span class="input-group-text red lighten-3" id="basic-text1"><i class="fas fa-search text-grey"
      aria-hidden="true"></i></span>
      -->
    </div>
    </div>
    <% end %>
  </div>
</div>

<div class="cards-container">
    <h2><strong>Top Categories</strong></h2>
    <div class="cards">
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://resources.turo.com/f/81934/424x318/7f4e44231c/category-carousel_classic-2x.jpg)">
        Classics
      </div>

      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://resources.turo.com/f/81934/424x318/3fc8dbffa5/category-carousel_minivan-2x.jpg)">
        Minivans
      </div>

      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://resources.turo.com/f/81934/424x318/288f0f5045/category-carousel_convertible-2x.jpg)">
        Convertibles
      </div>

      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://resources.turo.com/f/81934/424x318/df302dea72/category-carousel_luxury-2x.jpg)">
        Luxury
      </div>
    </div>
</div>

<div class="cards-container">
  <h2><strong>Last Offers</strong></h2>
  <div class="row">
    <div class="col-sm-6">
      <div class="card">
        <img class="card-img-top" src="https://d1zgdcrdir5wgt.cloudfront.net/media/vehicle/images/7c0IdMWbT7WJG_X4DFCZuw.1440x700.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Car Name</h5>
          <p class="card-text">Car Description</p>
          <p class="card-text"><strong>Car Price</strong></p>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <img class="card-img-top" src="https://d1zgdcrdir5wgt.cloudfront.net/media/vehicle/images/7c0IdMWbT7WJG_X4DFCZuw.1440x700.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Car Name</h5>
          <p class="card-text">Car Description</p>
          <p class="card-text"><strong>Car Price</strong></p>
        </div>
      </div>
    </div>
  </div>
</div>
