.btn-blue {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  font-weight: lighter;
  font-size: 16px;
  background: linear-gradient(#062b56, #062b59);
  transition: background 0.3s ease;
  border: 1px solid #062b56;
}

.btn-blue:hover {
  background: linear-gradient(#147EFF, #0F67DA);
  color: white;
}

h1.title {
 margin-top: 50px;
 margin-bottom: 25px;
}

.input-group > input {
  font-size: 19px;
}

.container > a {
  text-align: left;
  margin-left: 50px;
  font-size: 20px;
  text-decoration-line: underline;
}
